*
    font-family: $font-stack-two

.title, .initiative > .name, .executive > .name
    font-family: $font-stack
    font-weight: bold

.title > h2 
    color: $subheading-color

.title > h3 
    color: $accent-color

.introduction 
    text-align: center

.text, p
    margin-left: 2.125em
    margin-right: 1.937em