#content
    margin-top : 10%

.big-logo-faq
    width : 100%
    height : 400px
    background-size : contain
    background-attachment : fixed
    background-repeat: no-repeat
    background-image: url(/assets/img/eada_bot_sleepy_1.png)
