<div id="e37_35">
    <div id="e12_0"></div>
    <span id="e48_29">
        Our Office Location
        CSC 1-32
        
        Address
        Computing Science Centre  (CSC)
        8900 114 St NW
        Edmonton, AB T6G 2S4
    </span>
    <div id="e34_16"></div>
    <span id="e32_37">NAVIGATION</span>
    <span id="copyright">© Copyright 2020 Ada's Team    </span>
    <div id="e34_1"></div>
    <div id="e34_4"></div>
    <div id="e34_6"></div>
    <div id="e34_8"></div>
    <div id="e34_10"></div>
    <div id="e34_12"></div>
    <div id="e34_15"></div>
    <div id="e53_75"></div>
    <span id="e108_225">Home</span>
    <span id="e108_226">About</span>
    <span id="e108_227">FAQ</span>
    <span id="e108_228">Events</span>
    <span id="e108_348">Job Board</span>
    <span id="e108_349">Join</span>
    <span id="e108_350">Contact</span>
  </div>