<div id="address">
    <strong>Our Office Location</strong>
    <p>CSC 1-32</p>

    <strong>Address</strong>
    <p>Computing Science Centre (CSC)<br>
        8900 114 St NW<br>
        Edmonton, AB T6G 2S4</p>
</div>

<div id="divider"></div>

<div class="social-icons">
    <div id="facebook-icon"></div>
    <div id="twitter-icon"></div>
    <div id="instagram-icon"></div>
    <div id="linkedin-icon"></div>
    <div id="github-icon"></div>
    <div id="email-icon"></div>
</div>



