<div class="social-icons">
    <a href="#"><img src="../assets/img/efacebook.png" alt="facebook"></a>
    <a href="#"><img src="../assets/img/etwitter.png" alt="twitter"></a>
    <a href="#"><img src="../assets/img/einstagram.png" alt="instagram"></a>
    <a href="#"><img src="../assets/img/elinkedin.png" alt="linkedin"></a>
    <a href="#"><img src="../assets/img/egithub.png" alt="github"></a>
    <a href="#"><img src="../assets/img/eemail.png" alt="email"></a>
</div>

<div id="address">
    <div class="divider-thick"></div>
    <div class="address-heading">Our Office Location</div>
    <p>CSC 1-32</p>

    <div class="address-heading">Address</div>
    <p>Computing Science Centre (CSC)<br>
        8900 114 St NW<br>
        Edmonton, AB T6G 2S4</p>
</div>




