<div id=icon-option></div>

<div class="hamburger">
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li>Home <span>Web Developer</span></li>
      <li><a href="/" target="">About</a></li>
      <li><a href="/" target="">FAQ</a></li>
      <li><a href="/" target="">Events</a></li>
      <li><a href="/" target="">Job Board</a></li>
      <li><a href="/" target="">Join</a></li>
      <li><a href="/" target="">Contact</a></li>
      <li><div class="smallbar"></div></li>
    </ul>
  </div>
</div>
