<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site.title }}</title>


<!-- Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css?family=Cousine&display=swap" rel="stylesheet">



<!-- Local Stylesheets -->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/header.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/footer.css">
