#e188_421 { 
	position:relative;
	opacity:1;
	width:414px;
	height:549px;
}
#e25_62 { 
	opacity:1;
	width:414px;
	height:110px;
	position:absolute;
	left:0px;
	top:0px;
}
#ei25_62_25_2 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:58px;
	height:58px;
	position:absolute;
	left:320px;
	top:26px;
}
#ei25_62_25_2_3_9 { 
	opacity:1;
	border:2px solid rgba(0, 0, 0, 1);
	position:absolute;
	left:7.25px;
	top:29px;
}
#ei25_62_25_2_3_10 { 
	opacity:1;
	border:2px solid rgba(0, 0, 0, 1);
	position:absolute;
	left:7.25px;
	top:14.5px;
}
#ei25_62_25_2_3_11 { 
	opacity:1;
	border:2px solid rgba(0, 0, 0, 1);
	position:absolute;
	left:7.25px;
	top:43.5px;
}
#header-icon { 
	opacity:1;
	width:73px;
	height:61px;
	position:absolute;
	left:27px;
	top:22px;
	background-image:url(/_images/eicon_head_1.png);
	background-repeat:no-repeat;
}
#e69_81 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:302px;
	height:68px;
	position:absolute;
	left:56px;
	top:427px;
	font-family:Cousine;
	text-align:center;
	font-size:42px;
	letter-spacing:0;
	line-height:undefined;
}
#e69_82 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:251px;
	height:57px;
	position:absolute;
	left:90px;
	top:492px;
	font-family:Noto Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#sleepy-bot { 
	opacity:1;
	width:220px;
	height:220px;
	position:absolute;
	left:91px;
	top:150px;
	background-image:url(/_images/eada_bot_sleepy_1.png);
	background-repeat:no-repeat;
}
