#e37_35 { 
	position:relative;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:414px;
	height:737px;
}
#e12_0 { 
	background-color:rgba(37.00000159442425, 62.00000010430813, 75.00000312924385, 1);
	opacity:1;
	width:414px;
	height:737px;
	position:absolute;
	left:0px;
	top:0px;
}
#e48_29 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:346px;
	height:183px;
	position:absolute;
	left:33px;
	top:199px;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e34_16 { 
	background-color:rgba(248.0000004172325, 187.00000405311584, 218.00000220537186, 1);
	opacity:1;
	width:72px;
	height:10px;
	position:absolute;
	left:33px;
	top:160px;
}
#e32_37 { 
	color:rgba(57.00000040233135, 182.00000435113907, 251.00000023841858, 1);
	opacity:1;
	width:184px;
	height:26px;
	position:absolute;
	left:32px;
	top:406px;
	font-family:Cousine;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
	line-height:undefined;
}
#copyright { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:369px;
	height:28px;
	position:absolute;
	left:33px;
	top:689px;
	font-family:Noto Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e34_13 { 
	opacity:1;
	width:341.0000915527344px;
	height:43.30158615112305px;
	position:absolute;
	left:33px;
	top:54px;
}
#e34_1 { 
	opacity:1;
	width:43.30158615112305px;
	height:43.30158615112305px;
	position:absolute;
	left:33px;
	top:54px;
	background-image:url(images/efacebook.png);
	background-repeat:no-repeat;
}
#e34_4 { 
	opacity:1;
	width:43.30158615112305px;
	height:43.30158615112305px;
	position:absolute;
	left:92.5398941040039px;
	top:54px;
	background-image:url(images/etwitter.png);
	background-repeat:no-repeat;
}
#e34_6 { 
	opacity:1;
	width:43.30158615112305px;
	height:43.30158615112305px;
	position:absolute;
	left:152.0797882080078px;
	top:54px;
	background-image:url(images/einstagram.png);
	background-repeat:no-repeat;
}
#e34_8 { 
	opacity:1;
	width:43.30158615112305px;
	height:43.30158615112305px;
	position:absolute;
	left:211.6187286376953px;
	top:54px;
	background-image:url(images/elinkedin.png);
	background-repeat:no-repeat;
}
#e34_10 { 
	opacity:1;
	width:43.30158615112305px;
	height:43.30158615112305px;
	position:absolute;
	left:271.15863037109375px;
	top:54px;
	background-image:url(images/egithub.png);
	background-repeat:no-repeat;
}
#e34_12 { 
	opacity:1;
	width:43.30158615112305px;
	height:43.30158615112305px;
	position:absolute;
	left:330.6985168457031px;
	top:54px;
	background-image:url(images/eemail.png);
	background-repeat:no-repeat;
}
#e34_15 { 
	opacity:1;
	border:1px solid rgba(248.0000004172325, 187.00000405311584, 218.00000220537186, 1);
	position:absolute;
	left:31.5px;
	top:667px;
}
#e53_74 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:414px;
	height:120px;
	position:absolute;
	left:0px;
	top:-120px;
}
#e53_75 { 
	background-color:rgba(37.00000159442425, 62.00000010430813, 75.00000312924385, 1);
	opacity:1;
	width:414px;
	height:120.00753784179688px;
	position:absolute;
	left:0px;
	top:0px;
}
#e108_225 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:50px;
	height:35px;
	position:absolute;
	left:33px;
	top:445px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e108_226 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:50px;
	height:35px;
	position:absolute;
	left:33px;
	top:480px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e108_227 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:34px;
	height:35px;
	position:absolute;
	left:33px;
	top:515px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e108_228 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:54px;
	height:35px;
	position:absolute;
	left:33px;
	top:550px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e108_348 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:80px;
	height:35px;
	position:absolute;
	left:114px;
	top:445px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e108_349 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:31px;
	height:35px;
	position:absolute;
	left:114px;
	top:480px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e108_350 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:66px;
	height:35px;
	position:absolute;
	left:114px;
	top:515px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
