<!DOCTYPE html>
<script type="text/javascript" src="{{site.baseurl }}/assets/js/navbar.js"></script>

<html>

    <head>
      <!-- css/viewports -->
        {% include head.html %}
    </head>

    <body>

        <header>
            {% include _header.html %}
        </header>

        <div id="content">
                {{ content }}
        </div>

        <footer>
            {% include _footer.html %}
            <nav>
                {% include _navigation.html %}
            </nav>
        <div class="divider-thin"></div>
        <p>© Copyright 2020 Ada's Team</p>
        </footer>

    </body>


</html>
