<!DOCTYPE html>
<html>

    <head>
        {% include head.html %}
    </head>

    <body>

        <header>
            {% include _header.html %}
        </header>

        <div id="content">
                {{ content }}
        </div>

        <footer>
            {% include _footer.html %}
            
            <nav>
                {% include _navigation.html %}
            </nav>

        </footer>

        <span id="copyright">© Copyright 2020 Ada's Team</span>


    </body>
    

</html>